:root {
    --background-dark: #585555;
    --background-light: #f5f5f5;
    --text-dark: #111111;
    --text-light: #fff;

    --normal: #a8a878ff;
    --fire: #f08030ff;
    --water: #6890f0ff;
    --grass: #78c850ff;
    --electric: #f8d030ff;
    --ice: #98d8d8ff;
    --fighting: #c03028ff;
    --poison: #a040a0ff;
    --ground: #e0c068ff;
    --flying: #a890f0ff;
    --psychic: #f85888ff;
    --bug: #a8b820ff;
    --rock: #b8a038ff;
    --ghost: #705898ff;
    --dark: #705848ff;
    --dragon: #7038f8ff;
    --steel: #b8b8d0ff;
    --fairy: #f0b6bcff;

    --normal-darker: #a8a878aa;
    --fire-darker: #f08030aa;
    --water-darker: #6890f0aa;
    --grass-darker: #78c850aa;
    --electric-darker: #f8d030aa;
    --ice-darker: #98d8d8aa;
    --fighting-darker: #c03028aa;
    --poison-darker: #a040a0aa;
    --ground-darker: #e0c068aa;
    --flying-darker: #a890f0aa;
    --psychic-darker: #f85888aa;
    --bug-darker: #a8b820aa;
    --rock-darker: #b8a038aa;
    --ghost-darker: #705898aa;
    --dark-darker: #705848aa;
    --dragon-darker: #7038f8aa;
    --steel-darker: #b8b8d0aa;
    --fairy-darker: #f0b6bcaa;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.6;
    color: #2b2b2b;
    background-color: var(--background-light);
}

/* RESET BROWSER DEFAULTS */
input,
texture,
select,
button {
    /* takes the font values from the outer container */
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

main {
    /* Put content in horizontal center */
    text-align: center;
    /* Put content in vertical center */
    justify-content: center;
    margin-top: 60px;
}

.pokemon-list__pokemon-card {
    border-width: 5px;
    border-color: #343a40;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    font-weight: 700;
    color: var(--text-light);
}

.pokemon-list__pokemon-card:hover {
    cursor: pointer;

}

.pokemon-list__pokemon-card--text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pokemon-list__pokemon-card img {
    transition: transform 0.3s ease-in-out;
    image-rendering: pixelated;
}
.pokemon-list__pokemon-card:hover img,
.pokemon-list__pokemon-card:focus img {
    transform: scale(2.5) translate(0);
}

.modal-content {
    color: var(--text-dark);
    background: var(--background-light);
    border-width: 5px;
    border-color: #343a40;
    border-radius: 20px;
}

.modal-header__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal-id-number {
    margin-bottom: 0;
}

.modal-title {
    font-weight: 700;
}

.tags__modal-type {
    display: flex;
    flex-direction: row;
}

.modal-tag {
    border-radius: 4px;
    padding: 0.1rem 0.5rem;
    margin: 0.3rem;
}

.close-text {
    color: var(--text-dark);
}

.modal-footer {
    justify-content: space-between;
}

.modal img {
    image-rendering: pixelated;
    width: 400px;
}

/* COLOR CLASSES */

.normal {
    background: var(--normal);
}

.fire {
    background: var(--fire);
}

.water {
    background: var(--water);
}

.grass {
    background: var(--grass);
}

.electric {
    background: var(--electric);
}

.ice {
    background: var(--ice);
}

.fighting {
    background: var(--fighting);
}

.poison {
    background: var(--poison);
}

.ground {
    background: var(--ground);
}

.flying {
    background: var(--flying);
}

.psychic {
    background: var(--psychic);
}

.bug {
    background: var(--bug);
}

.rock {
    background: var(--rock);
}

.ghost {
    background: var(--ghost);
}

.dark {
    background: var(--dark);
}

.dragon {
    background: var(--dragon);
}

.steel {
    background: var(--steel);
}

.fairy {
    background: var(--fairy);
}

.gradient--normal {
    background-image: linear-gradient(to left, var(--normal-darker), var(--normal));
}

.gradient--fire {
    background-image: linear-gradient(to left, var(--fire-darker), var(--fire));
}

.gradient--water {
    background-image: linear-gradient(to left, var(--water-darker), var(--water));
}

.gradient--grass {
    background-image: linear-gradient(to left, var(--grass-darker), var(--grass));
}

.gradient--electric {
    background-image: linear-gradient(to left, var(--electric-darker), var(--electric));
}

.gradient--ice {
    background-image: linear-gradient(to left, var(--ice-darker), var(--ice));
}

.gradient--fighting {
    background-image: linear-gradient(to left, var(--fighting-darker), var(--fighting));
}

.gradient--poison {
    background-image: linear-gradient(to left, var(--poison-darker), var(--poison));
}

.gradient--ground {
    background-image: linear-gradient(to left, var(--ground-darker), var(--ground));
}

.gradient--flying {
    background-image: linear-gradient(to left, var(--flying-darker), var(--flying));
}

.gradient--psychic {
    background-image: linear-gradient(to left, var(--psychic-darker), var(--psychic));
}

.gradient--bug {
    background-image: linear-gradient(to left, var(--bug-darker), var(--bug));
}

.gradient--rock {
    background-image: linear-gradient(to left, var(--rock-darker), var(--rock));
}

.gradient--ghost {
    background-image: linear-gradient(to left, var(--ghost-darker), var(--ghost));
}

.gradient--dark {
    background-image: linear-gradient(to left, var(--dark-darker), var(--dark));
}

.gradient--dragon {
    background-image: linear-gradient(to left, var(--dragon-darker), var(--dragon));
}

.gradient--steel {
    background-image: linear-gradient(to left, var(--steel-darker), var(--steel));
}

.gradient--fairy {
    background-image: linear-gradient(to left, var(--fairy-darker), var(--fairy));
}


/* RESPONSIVE */
@media all and (max-width: 600px) {
    .pokemon-list__pokemon-card {
        margin-block: 20px;
        margin-inline: 0;
    }
}